
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/play.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<h1>Hello, <%=name%> </h1>
		<h2 id="winner"> </h2>
		
		<div>
			<table id="board">
				<tr>
					<td><input id="b0"  type="button" onclick="makeMove(0)"></td>
					<td><input id="b1"  type="button" onclick="makeMove(1)"></td>
					<td><input id="b2"  type="button" onclick="makeMove(2)"></td>
				</tr>
				<tr>
					<td><input id="b3"  type="button" onclick="makeMove(3)"></td>
					<td><input id="b4"  type="button" onclick="makeMove(4)"></td>
					<td><input id="b5"  type="button" onclick="makeMove(5)"></td>
				</tr>
				<tr>
					<td><input id="b6"  type="button" onclick="makeMove(6)"></td>
					<td><input id="b7"  type="button" onclick="makeMove(7)"></td>
					<td><input id="b8"  type="button" onclick="makeMove(8)"></td>
				</tr>
			</table>
		</div>
	</body>
	
	
</html>

